<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <span class="ui-float-label">
      <input name="username" [(ngModel)]="username" type="text" size="30" pInputText>
      <label for="float-input">Username</label>
    </span>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <span class="ui-float-label">
      <input name="password" [(ngModel)]="password" type="password" size="30" pInputText>
      <label for="float-input">Password</label>
    </span>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <button (click)="login()" pButton type="button" label="Login"></button>
  </div>
</div>